apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backend.fullname" . }}-config
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  DATABASE_URL: {{ .Values.config.databaseUrl | quote }}
  CHATBOT_URL: {{ .Values.config.chatbotUrl | quote }}
  CORS_ORIGINS: {{ .Values.config.corsOrigins | quote }}
  ENVIRONMENT: {{ .Values.config.environment | quote }}
